In [1]:
import numpy as np
import pandas as pd

In [110]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [111]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [112]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [113]:
print(movies.shape)
print(ratings.shape)

(62423, 3)
(25000095, 4)

In [114]:
ratings['userId'].value_counts()

72315     32202
80974      9178
137293     8913
33844      7919
20055      7488
          ...
12094        20
119539       20
156759       20
12084        20
36207        20
Name: userId, Length: 162541, dtype: int64

In [115]:
ratings['userId'].value_counts().shape

(162541,)

In [8]:
ratings['rating'].value_counts()

4.0    6639798
3.0    4896928
5.0    3612474
3.5    3177318
4.5    2200539
2.0    1640868
2.5    1262797
1.0     776815
1.5     399490
0.5     393068
Name: rating, dtype: int64

In [9]:
ratings['rating'].value_counts().shape

(10,)

In [120]:
x = ratings['userId'].value_counts()>200
y= x[x].index

In [121]:
y

Int64Index([ 72315,  80974, 137293,  33844,  20055, 109731,  92046,  49403,
             30879, 115102,
            ...
            152236,  52144, 154222, 100820, 159657, 159681, 159700,   6499,
             73472, 136065],
           dtype='int64', length=25366)

In [122]:
ratings=ratings[ratings['userId'].isin(y)]

In [123]:
ratings.shape

(14391496, 4)

In [124]:
ratings.head()

     userId  movieId  rating   timestamp
254       3        1     4.0  1439472215
255       3       29     4.5  1484754967
256       3       32     4.5  1439474635
257       3       50     5.0  1439474391
258       3      111     4.0  1484753849

In [125]:
reco = movies.merge(ratings, on='movieId')

In [126]:
reco

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1439472215
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,12,4.0,1167582601
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,4.0,1265223970
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,4.0,1170491388
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,4.0,1142403282
...,...,...,...,...,...,...
14391491,209151,Mao Zedong 1949 (2019),(no genres listed),125475,3.5,1574232248
14391492,209153,Happy Flight (2008),Comedy|Drama,147040,2.5,1574232704
14391493,209155,Santosh Subramaniam (2008),Action|Comedy|Romance,134916,5.0,1574272160
14391494,209159,Window of the Soul (2001),Documentary,115835,3.0,1574280985
14391495,209163,Bad Poems (2018),Comedy|Drama,6964,4.5,1574284913

In [127]:
reco.shape

(14391496, 6)

In [128]:
number_rating = reco.groupby('title')['rating'].count().reset_index()

In [129]:
number_rating.rename(columns={'rating':'number of ratings'}, inplace=True)

In [130]:
number_rating

                                                   title  number of ratings
0      "BLOW THE NIGHT!" Let's Spend the Night Togeth...                  1
1                       "Great Performances" Cats (1998)                 67
2                             #1 Cheerleader Camp (2010)                  7
3                                       #Captured (2017)                  2
4                                #Female Pleasure (2018)                  2
...                                                  ...                ...
58222             …And the Fifth Horseman Is Fear (1965)                  2
58223                                        キサラギ (2007)                  2
58224                                     チェブラーシカ (2010)                  9
58225                                        貞子3D (2012)                 10
58226                                        줄탁동시 (2012)                  1

[58227 rows x 2 columns]

In [131]:
final_rating = reco.merge(number_rating, on='title')

In [132]:
final_rating.shape

(14391496, 7)

In [135]:
final_rating = final_rating[final_rating['number of ratings']>=100]

In [136]:
final_rating.shape

(13845325, 7)

In [137]:
final_rating

,movieId,title,genres,userId,rating,timestamp,number of ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1439472215,18570
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,12,4.0,1167582601,18570
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,4.0,1265223970,18570
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,4.0,1170491388,18570
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,4.0,1142403282,18570
...,...,...,...,...,...,...,...
14389236,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,158983,4.0,1570991647,202
14389237,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,159474,4.0,1573489877,202
14389238,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,159709,4.0,1570852863,202
14389239,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,161251,3.5,1571530424,202
14389240,205383,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,161560,2.5,1571125078,202

In [138]:
movie_pivot=final_rating.pivot_table(columns='userId',index='title',values='rating')

In [139]:
movie_pivot

userId,3,12,13,19,23,31,43,57,59,61,...,162493,162495,162508,162512,162516,162519,162521,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"'burbs, The (1989)",NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'night Mother (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),3.5,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,...,NaN,NaN,NaN,4.0,2.5,NaN,NaN,NaN,NaN,NaN
xXx: Return of Xander Cage (2017),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx: State of the Union (2005),NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
¡Three Amigos! (1986),NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
À nous la liberté (Freedom for Us) (1931),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
movie_pivot.fillna(0, inplace=True)

In [141]:
movie_pivot

userId,3,12,13,19,23,31,43,57,59,61,...,162493,162495,162508,162512,162516,162519,162521,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'night Mother (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,...,0.0,0.0,0.0,4.0,2.5,0.0,0.0,0.0,0.0,0.0
xXx: Return of Xander Cage (2017),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union (2005),0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos! (1986),0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,4.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [144]:
from scipy.sparse import csr_matrix
movie_sparse=csr_matrix(movie_pivot)

In [145]:
type(movie_sparse)

scipy.sparse.csr.csr_matrix

In [146]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [185]:
model.fit(movie_sparse)

NearestNeighbors(algorithm='brute')

In [164]:
#distances, suggestions=model.kneighbors(movie_pivot.iloc[201, :].values.reshape(1,-1), n_neighbors=6)

In [165]:
#distances

array([[  0.        , 132.22802275, 132.23747578, 132.30362807,
        132.49716978, 132.50660361]])

In [166]:
#suggestions

array([[ 201, 6472, 5804, 6217, 6118, 5257]], dtype=int64)

In [167]:
#for i in range(len(suggestions)):
    #print(movie_pivot.index[suggestions[i]])

Index(['Accused, The (1988)', 'Perfect (1985)', 'Music Box (1989)',
       'One Good Cop (1991)', 'Nuts (1987)', 'Main Event, The (1979)'],
      dtype='object', name='title')

In [162]:
#movie_pivot.index[201]

'Accused, The (1988)'

In [170]:
#np.where(movie_pivot.index == 'Accused, The (1988)')[0][0]

201

In [191]:
def recommend_movie(movie_name):
    movie_id=np.where(movie_pivot.index==movie_name)[0][0]
    distances, suggestions=model.kneighbors(movie_pivot.iloc[movie_id, :].values.reshape(1,-1), n_neighbors=6)
    
    for i in range(len(suggestions)):
        if i == 0:
            print("The suggestions for", movie_name,"are :")
        if not i:
            print(movie_pivot.index[suggestions[i]])

In [192]:
recommend_movie('Accused, The (1988)')

The suggestions for Accused, The (1988) are :
Index(['Accused, The (1988)', 'Perfect (1985)', 'Music Box (1989)',
       'One Good Cop (1991)', 'Nuts (1987)', 'Main Event, The (1979)'],
      dtype='object', name='title')

In [193]:
recommend_movie('Matrix, The (1999)')

The suggestions for Matrix, The (1999) are :
Index(['Matrix, The (1999)', 'Fight Club (1999)',
       'Lord of the Rings: The Fellowship of the Ring, The (2001)',
       'Forrest Gump (1994)', 'Sixth Sense, The (1999)', 'Gladiator (2000)'],
      dtype='object', name='title')

In [194]:
recommend_movie('Toy Story (1995)')

The suggestions for Toy Story (1995) are :
Index(['Toy Story (1995)', 'Toy Story 2 (1999)', 'Jurassic Park (1993)',
       'Lion King, The (1994)', 'Men in Black (a.k.a. MIB) (1997)',
       'Back to the Future (1985)'],
      dtype='object', name='title')